*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background-image:url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    min-height: 100vh;
    /* background: rgb(7, 7, 42); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:  center center/cover; */

}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgb(13, 12, 12);
    border-radius: 15px;
    background: rgb(245, 240, 240);
    backdrop-filter: blur(15px);
    flex-wrap: wrap;
}
.container form h1{
   color: #191818;
   font-weight: 500;
   margin-top: 20px;
   width: 500px;
   text-align: center;

}
.container form input{
    width: 260px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #141414;
}
.container form input::placeholder{
    color: #121111;
}
.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}
.container form h4{
    color: #0e0e0e;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #787878;
    color: #100f0f;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
textarea ::-webkit-scrollbar{
    width: 1cm;
}
textarea ::-webkit-scrollbar-thumb{
    background-color: rgb(50, 44, 231);
}
.container form #button{
    border: none;
    background: #405bf4;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #0b0b0c;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.containerform #button:hover{
    opacity: 0.7;
}
.container #button:hover{
    background-color: rgb(222, 222, 226);
    color: #0f0e0e;
    transition: all 0.7s ease-in-out;

}

/* .nav-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #3156a1;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-buttons button:hover {
  background-color: #08055f;
} */


/* Media Qeuries */
@media (max-width: 480px){
    #content .container {
        min-height: 70vh;
    }
    .container form {
        width: 90%;
        height: 50%;
    }
    .container form input {
    width: 70%;
    height: 40px;
    padding: 10px;
    }
    .container form h4 {
        width: 400px;
        margin-top: 20px;
        text-align: center;
    }
    .container form textarea {
        min-width: 320px;
        max-width: 320px;
        min-height: 60px;
        max-height: 60px;
        border-bottom: 2px solid #222020;
    }
    .container form #button {
        width: 80px;
        margin-right: 10px;
        margin-bottom: 20px;
        
    }
    .container form #lastName,
    .container form #mobile{
        margin-left: 0;
    }
}
