body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6A99D;
    font-family:'Poppins' sans-serif;
    font-weight: 600;
    font-style: normal;
}
label{
    display: block;
    font-size: 30px;
    margin: 5px;
}
form{
    width: 400px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 2px  rgba(0, 0, 0, 0.5);
   
}
.img-container{
  
   background-color: navy;
   text-align: center;
}
img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
p{
    color:white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}
.second{
    padding: 5px;
}
input{
    width: 88%;
     padding: 10px;
     margin: 5px;
     font-size: 20px;
    border-radius: 8px;
    /* border: none; */
    border-color: whitesmoke;
    outline: none;
    appearance: none;
}
input:focus{
    border-color: navy;
    outline: none;
    appearance: none;
}
.content{
    padding:8px;

}
.btn{
    width: 93%;
    text-align: center
    
}
button{
    color: white;
    background-color: navy;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 15px;
}
.error{
    color: red;
}